/.idea
/build
idea/*.iws
idea/sqlite4java/sqlite4java.sdf

INSTALL
install-sh
aclocal.m4
*~
*#
.*
config.h
config.h.in
configure
Makefile.in
Makefile
build-aux
m4
autom4te.cache
*.o
*.lo
*.la
config.log
config.guess
config.sub
config.status
.deps
.libs
libtool
ltmain.sh
depcomp
missing
stamp-h1
*.gmo
libs
libsqlite4java-*.tar.gz
native/libsqlite4java.pc

swig/SWIGTYPE_p_sqlite3.java
swig/SWIGTYPE_p_sqlite3_backup.java
swig/SWIGTYPE_p_sqlite3_blob.java
swig/SWIGTYPE_p_sqlite3_stmt.java
swig/_SQLiteSwigged.java
swig/_SQLiteSwiggedJNI.java